
button i{
	margin-right: 5px;
}
.panel{
	background:#f0f8ff;
}
.panel-heading{
	background:#23d160;
}
.panel-heading h2{
	color:#fff;
}

.action-button button{
	display: block;
	width:100%;
}
.action-button button:first-of-type{
	margin-bottom: 5px;
}

.hightlight-bold{
	font-weight: bold;
}